<div class="container anchor">
  <div>
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <%= link_to 'Back', root_path %>
  </div><!-- / panel-body -->
</div><!-- / panel -->