<div class="container">
	<div class="row">
   		<div class="col-xs-12 col-md-6">
			<h1>Editing User</h1>

			<%= render 'form', user: @user %>

			<%= link_to 'Show', @user %> |
			<%= link_to 'Back', users_path %>
		</div> <!-- /col -->

    	<div class="col-xs-12 col-md-6">
    		<%= render 'devise/registrations/edit', user: @user %>
    	</div><!-- /col -->
  	</div> <!-- /row -->
</div> <!-- /container -->
