<div class="container">
	<div class="row">
   		<div class="col-md-offset-4 col-md-4">
			<h1>Editing User</h1>

			<%= render 'form', user: @user %>

			<%= link_to 'Show', @user %> |
			<%= link_to 'Back', users_path %>
		</div> <!-- /col -->
    	<div class="col-md-4">
    	</div>
  	</div> <!-- /row -->
</div> <!-- /container -->
