// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-margin {
	margin: 2px 33px 5px 33px;
}

.comment-rating {
	margin-left: 20px;
}

.hr-edit {
	border-color: #fff;
}
