// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-height {
	height: 100%;
}

.div-color {
	background-color: #f0f0f0;
	margin: 1px;
	padding: 0 15px;
}

.h4-title {
	margin: 0 20px
}

.underline {
	text-decoration: underline;
}

.p-margin {
	margin: 33px 33px 0 0;
}

