h1,h2,h3,h4 {
  	font-family: Oswald, Futura, Helvetica, Arial, sans-serif;
}

.anchor {
	padding: 10px 0 0 0;
}

/**** Navbar ****/

.navbar-inverse {
	opacity: 0.9;
}

.navbar ul li {
	text-transform: uppercase;
	letter-spacing: 0.08em;
	font-family: Oswald, Futura, Helvetica, Arial, sans-serif;
}

.projectName {
    text-transform: uppercase;
}

.projectName a, hover {
    letter-spacing: 0.08em;
    color: #9d9d9d;
    background-color: #222;
}



/**** image carousel ****/

.carousel-caption {
	color: #fff;
	margin-bottom: 30px;
}
