<div class="container anchor">
	<div class="row">
		<h1>Products</h1>
		<div class="col-xs-12 col-md-12">
		<%= render @products %>
		</div>
		<div class="col-xs-12 col-md-12">
		<%= link_to 'New Product', new_product_path %>
		</div>
	</div>
