<!DOCTYPE html>
<html>
  <head>
    <title>Bikeshop Bottrop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab|Press+Start+2P" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

  <!-- start navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           </button>
          <div class="projectName navbar-brand">
            <a href="#home-container">Bikeshop Bottrop</a>
          </div> <!--end projectName -->
        </div><!--end navbar-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home-container">Home</a></li>
            <li><a href="#about-container">About</a></li>
            <li><a href="#contact-container">Contact</a></li>
            <li><a href="#contact-container">FAQ</a></li>
          </ul>
        </div><!--end navbar collapse-->
      </div><!--end navbar container-->
    </nav><!-- end navbar -->

    <%= yield %>

    <footer class="footer">
  		&copy; 2016 Bike Bottrop
	</footer>

  </body>
</html>
